header {
    background-color: chartreuse;
    border: 2px solid black;
    margin: 10px;
}

nav {
    background-color:blueviolet;
    border: 2px solid black;
    margin: 10px;
}


article {
    background-color:coral;
    border: 2px solid black;
    margin: 10px;
}

section {
    border: 1px solid white;
}

aside {
    background-color:bisque;
    border: 2px solid black;
    margin: 10px;
}

footer {
    background-color:cadetblue;
    border: 2px solid black;
    margin: 10px;
}
