/* Seletor Universal */

* {
    margin: 0;
    padding: 0;
}

/* Seletores de texto */

a {
    color:#fff;
    text-decoration: none;
}

/* Seletores de classe */

.verde {
    color: green;
}

p.verde {
    color: green;
}

/* Seletor ID */

#cabecalho {
    border: 2px solid #fff;
    padding: 10px;
    background-color: #000;
    width: 900px;
    margin: 0 auto;
}

/* Seletor filho */
li>a {
    color:blue;
}

/* Seletor descendente */

#cabecalho span {
    color: blue;
}

/* Seletor de irmão adjacente */

h1+p{
    color: red;
}

/*Seletor de irmão geral */

h2~p{
    color: greenyellow;
}